<div class="container">
	<h2>Contact</h2>
	<div class="row">
		<div class="span8 offset2">
			<address>
				</p>
					<strong>
						<a href="mailto:dantashman@gmail.com">Dan Tashman</a>
					</strong><br>
					171 West Street<br>
					White Plains, NY 10605
				</p>
			</div> <!-- end address -->
		</div> <!-- end span8 -->
	</div> <!-- end row -->
</div> <!-- end container -->
