<div class="container">

	<div class="span10 offset1">
		<div class="row">
			<h2>Contact Me</h2>
		</div> <!-- end row -->
	</div><!--  end span12 -->

		<div class="span10 offset1">
			<div class="row">
				<address>
					</p>
						<strong>
						<a href="mailto:dantashman@gmail.com">Dan Tashman</a>
						</strong><br>
						171 West Street<br>
						White Plains, NY 10605
					</p>
				</div> <!-- end address -->
			</div> <!-- end row -->
		</div> <!-- end span12-->

</div> <!-- end container -->
<br>
<div class="span12">
<%= render "layouts/navigation" %>
</div>