<div class="header">
</div>
                  
 <div class="container">
    		
            <hr>
    
            <div class="span12">
                    <h2>What is it?</h2>
            </div> <!--end faqheader-->
         
            <hr>
          
            <div class="span12 offset1">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
      
           <hr>
       
           <div class="span12">
                    <h2>Is it cool?</h2>
            </div> <!--end faqheader-->
          
            <hr>
           
            <div class="span12 offset1">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
          
            <hr>
          
            <div class="span12">
                    <h2>Is it shiny?</h2>
            </div> <!--end faqheader-->
           
            <hr>
           
            <div class="span12 offset1">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
          
            <hr>
           
            <div class="span12">
                    <h2>Who is it for?</h2>
            </div> <!--end faqheader-->
         
            <hr>
          
            <div class="span12 offset1">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
           
            <hr>
           
            <div class="span12">
                    <h2>How can Virgil help me?</h2>
            </div> <!--end faqheader-->
         
            <hr>
          
            <div class="span12 offset1">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
           
            <hr>
           
            <div class="span12">
                    <h2>How much is it?</h2>
            </div> <!--end faqheader-->
         
            <hr>
         
           <div class="span12 offset1">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. </h5><br />
            </div> <!--end faqbox-->
          
            <hr>
          
            <div class="span12">
                    <h2>What colors does it come in?</h2>
            </div> <!--end faqheader-->
        
            <hr>
         
            <div class="span12 offset1">
                    <h5>VDuis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
           
            <hr>
           
            <div class="span12">
                    <h2>Other things I like</h2>
            </div> <!--end faqheader-->
           
            <hr>
           
            <div class="span12 offset1">
                    <h5>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
           
            <hr>
           
            <div class="span12">
                    <h2>How many questions do I have?</h2>
            
            </div> <!--end faqheader-->
            <hr>
           
            <div class="span12 offset1">
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</h5><br />
            </div> <!--end faqbox-->
            
                 <hr>
                 
              <div class="span12">
                    <h2>Is there a Spanish version?</h2>
            </div> <!--end faqheader-->
            
            <hr>
           
            <div class="span12 offset1">
                    <h5>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5><br />
            </div> <!--end faqbox-->
            
            
      
            
	</div> <!--end container-->


<%= render "layouts/navigation" %>
